## Cluster Data Approach

In [1]:
import pandas as pd

In [3]:
cluster_gen_data = pd.read_csv('../swis_ts_data/geo_ts_cluster.csv', index_col=0)

In [11]:
cluster_gen_data.head()

,0,2,3,4,10,13,14,15,16,17,18,19,20,21,24,25,26,27,28,29
timestamp,,,,,,,,,,,,,,,,,,,,
2020-02-13 05:00:00+08:00,0.32,0.00,1.54,2.56,1.51,0.00,0.41,0.03,0.00,0.04,0.90,0.02,0.53,0.08,0.0,0.00,0.87,0.00,0.24,78.82
2020-02-13 06:00:00+08:00,0.21,0.00,1.52,2.44,1.50,0.00,0.44,0.03,0.00,0.03,0.91,0.03,0.54,0.05,0.0,0.00,0.91,0.00,0.21,79.08
2020-02-13 07:00:00+08:00,0.21,0.00,1.50,2.33,1.49,0.00,0.44,0.03,0.00,0.03,0.87,0.02,0.53,0.06,0.0,0.00,0.68,0.00,0.20,79.56
2020-02-13 08:00:00+08:00,0.22,0.00,44.42,3.59,5.78,0.00,0.48,0.04,0.03,0.91,1.08,0.03,0.63,0.11,0.1,0.05,0.86,1.77,0.19,78.96
2020-02-13 09:00:00+08:00,109.71,0.62,1091.65,2945.55,399.31,8.31,100.87,98.85,5.72,79.54,333.55,0.08,423.36,147.58,96.6,8.36,270.10,941.82,337.73,2943.01

In [17]:
cluster_pc = pd.read_csv('../swis_ts_data/cluster_pc.csv').rename(columns = {'Unnamed: 0': 'pc'})

In [18]:
ALL_SWIS_TS = [6000, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6014, 6015, 6017, 6018, 6019, 6020, 6021, 6023,
               6024,
               6025, 6026, 6027, 6028, 6029, 6030, 6035, 6036, 6038, 6041, 6050, 6053, 6054, 6055, 6056, 6058, 6059,
               6061, 6062, 6063, 6064, 6065,
               6066, 6069, 6073, 6084, 6090, 6101, 6102, 6103, 6104, 6105, 6107, 6108, 6109, 6110, 6111, 6112, 6123,
               6147, 6148, 6149, 6150, 6151, 6152, 6153, 6154, 6155, 6157, 6159, 6162, 6163, 6164, 6166, 6167, 6168,
               6170, 6171, 6173, 6208, 6210,
               6211, 6220, 6230, 6232, 6233, 6237, 6254, 6271, 6280, 6281, 6284, 6312, 6317, 6324, 6330, 6391, 6401,
               6426, 6430, 6432, 6509, 6528, 6530]

In [22]:
cluster_num = cluster_pc.loc[cluster_pc['pc'].isin(ALL_SWIS_TS)]

In [58]:
cluster_num.head()

     pc  cluster_num
0  6000           29
2  6005           29
3  6006            4
4  6007            4
5  6008           29

In [21]:
# len(ALL_SWIS_TS_NEW)

In [31]:
clusters = {}

for pc in range(len(cluster_num)):
    pc_num = cluster_num.iloc[pc,]['pc']
    cluster_val = cluster_num.iloc[pc,]['cluster_num']
    if cluster_val in clusters:
        clusters[cluster_val].append(pc_num)
    else:
        clusters[cluster_val] = [pc_num]

In [59]:
clusters

{29: [6000,
  6005,
  6008,
  6009,
  6010,
  6011,
  6101,
  6102,
  6103,
  6104,
  6105,
  6107,
  6108,
  6109,
  6110,
  6147,
  6148,
  6149,
  6150,
  6151,
  6152,
  6153,
  6154,
  6155,
  6157,
  6159,
  6162,
  6163,
  6164,
  6166],
 4: [6006,
  6007,
  6014,
  6015,
  6017,
  6018,
  6019,
  6020,
  6021,
  6023,
  6024,
  6025,
  6026,
  6027,
  6029,
  6050,
  6053,
  6054,
  6059,
  6061,
  6062,
  6063,
  6064,
  6065,
  6066,
  6090],
 0: [6028, 6030, 6035, 6036, 6038, 6041],
 21: [6055, 6056, 6058, 6069, 6073, 6084, 6111],
 20: [6112, 6123, 6167, 6168, 6170, 6171],
 14: [6173, 6208, 6210, 6211],
 27: [6220, 6233],
 18: [6230, 6232, 6237, 6271],
 2: [6254],
 28: [6280, 6281],
 13: [6284],
 17: [6312],
 19: [6317],
 10: [6324, 6330],
 25: [6391],
 15: [6401],
 16: [6426],
 3: [6430, 6432],
 24: [6509],
 26: [6528, 6530]}

In [55]:
for key in clusters:
    power = []
    day2 = []
    day3 = []
    day4 = []
    day5 = []
    day6 = []
    day7 = []

    pcs = clusters[key]
    if len(pcs)>1:
        for pc_val in pcs:
            data_power = pd.read_csv(f'../swis_ts_data/ts_data/{pc_val}.csv', index_col =0)
            power.append(data_power.iloc[:, 0:1])
            day2.append(data_power.iloc[:, 1:2])
            day3.append(data_power.iloc[:, 2:3])
            day4.append(data_power.iloc[:, 3:4])
            day5.append(data_power.iloc[:, 4:5])
            day6.append(data_power.iloc[:, 5:6])
            day7.append(data_power.iloc[:, 6:7])

        power_df = pd.DataFrame(pd.concat(power, axis=1).sum(axis=1)).rename(columns={0:'power'})
        day2_df = pd.DataFrame(pd.concat(day2, axis=1).sum(axis=1)).rename(columns={0:'day2'})
        day3_df = pd.DataFrame(pd.concat(day3, axis=1).sum(axis=1)).rename(columns={0:'day3'})
        day4_df = pd.DataFrame(pd.concat(day4, axis=1).sum(axis=1)).rename(columns={0:'day4'})
        day5_df = pd.DataFrame(pd.concat(day5, axis=1).sum(axis=1)).rename(columns={0:'day5'})
        day6_df = pd.DataFrame(pd.concat(day6, axis=1).sum(axis=1)).rename(columns={0:'day6'})
        day7_df = pd.DataFrame(pd.concat(day7, axis=1).sum(axis=1)).rename(columns={0:'day7'})


        save_data = pd.concat([power_df, day2_df, day3_df, day4_df, day5_df, day6_df, day7_df], axis=1).round(2)
        save_data.to_csv(f'../swis_ts_data/ts_data/cluster_{key}.csv')

In [60]:
pc_cluster_map = {}

for pc in range(len(cluster_num)):
    pc_num = cluster_num.iloc[pc,]['pc']
    cluster_val = cluster_num.iloc[pc,]['cluster_num']
    pc_cluster_map[pc_num] = cluster_val
    
pc_cluster_map

{6000: 29,
 6005: 29,
 6006: 4,
 6007: 4,
 6008: 29,
 6009: 29,
 6010: 29,
 6011: 29,
 6014: 4,
 6015: 4,
 6017: 4,
 6018: 4,
 6019: 4,
 6020: 4,
 6021: 4,
 6023: 4,
 6024: 4,
 6025: 4,
 6026: 4,
 6027: 4,
 6028: 0,
 6029: 4,
 6030: 0,
 6035: 0,
 6036: 0,
 6038: 0,
 6041: 0,
 6050: 4,
 6053: 4,
 6054: 4,
 6055: 21,
 6056: 21,
 6058: 21,
 6059: 4,
 6061: 4,
 6062: 4,
 6063: 4,
 6064: 4,
 6065: 4,
 6066: 4,
 6069: 21,
 6073: 21,
 6084: 21,
 6090: 4,
 6101: 29,
 6102: 29,
 6103: 29,
 6104: 29,
 6105: 29,
 6107: 29,
 6108: 29,
 6109: 29,
 6110: 29,
 6111: 21,
 6112: 20,
 6123: 20,
 6147: 29,
 6148: 29,
 6149: 29,
 6150: 29,
 6151: 29,
 6152: 29,
 6153: 29,
 6154: 29,
 6155: 29,
 6157: 29,
 6159: 29,
 6162: 29,
 6163: 29,
 6164: 29,
 6166: 29,
 6167: 20,
 6168: 20,
 6170: 20,
 6171: 20,
 6173: 14,
 6208: 14,
 6210: 14,
 6211: 14,
 6220: 27,
 6230: 18,
 6232: 18,
 6233: 27,
 6237: 18,
 6254: 2,
 6271: 18,
 6280: 28,
 6281: 28,
 6284: 13,
 6312: 17,
 6317: 19,
 6324: 10,
 6330: 10,
 6391: 25,
 6401: 15,
 6426: 16,
 6430: 3,
 6432: 3,
 6509: 24,
 6528: 26,
 6530: 26}